body {
	text-align: center;
	padding: 0;
	margin: 0;


}


input:focus, textarea:focus {
	border-color: brown;
}
input:invalid, select:invalid, textarea:invalid {
	border-color: red;
}
input:valid, select:valid, textarea:valid {
	border-color: green;
}

.radio-group input[type="radio"] {
	border: 1px solid black; /* Default border */
	background-color: white; /* Default background */
}

.radio-group input[type="radio"]:checked {
	border-color: brown;
	background-color: aliceblue;
	box-shadow: 0 0 5px darkgray;
}

.radio-group input[type="radio"]:checked + label {
	color: blue;
}

input:nth-child(1) {
	border-radius: 20px;
}

label {
	font-weight: bold;
	display: inline-block;
	text-align: left;
	
}


button {
	background-color: green;
	color: white;
	width: 150px;
	height: 35px;
	
	
}

button:hover {
	background-color: black;
	
